<h1><center> Welcome to Rock Paper Scissors!</center></h1>
<center><img src="rps.png" alt="RPS">
  <h2><center>Welcome to Rock, Paper, Scissors!</center></h2>
  <h3> You and your opponent must choose a sign that you
    will then compare: the rock break the scissors but is covered by the paper,
    the paper beat the rock but is cut by the scissors
    and the scissors beat the paper but are broken by the rock.</h3>
    <center> <div class="btn-group">
      <button onclick="window.location.href = '/rock/paper';"
      type="button">Click me to play rock!</button>
      <button onclick="window.location.href = '/paper/paper';"
      type="button">Click me to play paper!</button>
      <button onclick="window.location.href = '/scissors/paper';"
      type="button">Click me to play scissors!</button>
    </div>
  </center>
