<h1><center> Welcome to Jonny's Rock Paper Scissors</center></h1>
<center>
  <!-- <img id="pic" src="rps.png" alt="RPS"> -->


      <h3><p> Choose your weapon to play against the all powerful computer AI!</P></h3>
    <center> <div class="btn-group">
      <button onclick="window.location.href = '/rock/paper';"
      type="button">Rock</button>
      <button onclick="window.location.href = '/paper/scissors';"
      type="button">Paper</button>
      <button onclick="window.location.href = '/scissors/paper';"
      type="button">Scissors</button>
    </div>


        <h2><center>Da Rulez:</center></h2><h3> The rock breaks the scissors but is covered by the paper,
      the paper beats the rock but is cut by the scissors
      and the scissors beat the paper but are smashed by the rock.</h3>
  </center>
