body {
  background-color: powderblue;


}

h1 {
  color: green;
  font-style: "Lucida Sans Unicode";
}

h3 {
  color: green;
  font-style:"Lucida Sans Unicode"
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  /* float: left; */
  align-items: center;
}

.btn-group button:not(:last-child) {
  border-right: none;
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #3e8e41;
}
